<footer [class.footer-news]=onNewsPage()>
  <div class="copyright">
    &#169; {{today | date:'yyyy'}} | Evan's Roman Way Barber Stylist &nbsp;All rights reserved
  </div>

  <ul class="footer-links d-flex justify-content-center">
    <li class="footer-line" [class.footer-line-news]=onNewsPage()>
      <a class="footer-link" routerLink="/home" routerLinkActive="active">Home</a>
    </li>

    <li>
      <a class="footer-link" routerLink="/services" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Services</a>
    </li>
    <li class="footer-arrow" [class.footer-arrow-news]=onNewsPage()>
    </li>
    <li class="footer-line" [class.footer-line-news]=onNewsPage()>
      <div class="d-flex justify-content-start">
        <a class="footer-link py-0 my-0" routerLink="/services/haircut" routerLinkActive="active">Men's Haircut</a>
      </div>
      <div class="d-flex justify-content-start">
        <a class="footer-link py-0 my-0" routerLink="/services/shave" routerLinkActive="active">Straight Edge Razor Shave</a>
      </div>
      <div class="d-flex justify-content-start">
        <a class="footer-link py-0 my-0" routerLink="/services/trim" routerLinkActive="active">Beard Trim</a>
      </div>
    </li>

    <li class="footer-line" [class.footer-line-news]=onNewsPage()>
      <div class="d-flex justify-content-start">
        <a class="footer-link py-0 my-0" routerLink="/about" routerLinkActive="active">About Me</a>
      </div>
      <div class="d-flex justify-content-start">
        <a class="footer-link py-0 my-0" routerLink="/contact" routerLinkActive="active">Contact Me</a>
      </div>
    </li>

    <li class="footer-line" [class.footer-line-news]=onNewsPage()>
      <div class="d-flex justify-content-start">
        <a class="footer-link py-0 my-0" [class.news-page]=onNewsPage() routerLink="/news" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">News</a>
      </div>
      <div class="d-flex justify-content-start">
        <a class="footer-link py-0 my-0" routerLink="/testimonials" routerLinkActive="active">Testimonials</a>
      </div>
    </li>

    <li>
      <div class="d-flex justify-content-start">
        <a class="footer-link py-0 my-0" routerLink="/register" routerLinkActive="active">Register</a>
      </div>
      <div class="d-flex justify-content-start">
        <a class="footer-link py-0 my-0" routerLink="/login" routerLinkActive="active">Login</a>
      </div>
    </li>
  </ul>

  <div class="mt-4">
    <a [class]="onNewsPage() ?
             'footer-scroll-up-news' :
             'footer-scroll-up'"
       pageScroll [pageScrollDuration]="200" href="#top"><i class="fas fa-chevron-circle-up fa-2x"></i></a>
  </div>
</footer>