<div class="new-back">

  <div class="new-header">
    <div class="container">
      <h1>
        Account forgot password:
      </h1>
      <h4>
        Request a reset password link
      </h4>
    </div>
  </div>

  <div class="new-main">
    <div class="container">
      <div class="row">

        <div class="col-md-6 mx-auto">
          <div class="container">
            <h2 class="text-center pb-3">
              Forgot Password:
            </h2>

            <div class="card card-shadow-hard pt-4 pb-2 px-2 mb-5">
              <div class="container">
                <form [formGroup]="forgotPasswordForm" (ngSubmit)="submit(forgotPasswordForm.value)">
                  <div class="row">
                    <div class="form-group col-12 pb-3">
                      <label for="email">Email Address</label>
                      <input type="text"
                             class="form-control"
                             id="email"
                             placeholder="user@example.com"
                             formControlName="email"
                      >
                      <control-messages [control]="forgotPasswordForm.controls.email"></control-messages>
                    </div>
                  </div>

                  <div *ngIf="failedForgotPassword">
                    <p class="alert alert-danger" role="alert">
                      That email address does not exist on an account in the system.
                    </p>
                  </div>
                  <div *ngIf="failedForgotPassword && forgotPasswordForm.touched">
                    {{resetTouch()}}
                  </div>
                  <div *ngIf="forgotPasswordReset && forgotPasswordForm.touched">
                    {{resetFailedForgotPassword()}}
                  </div>

                  <button type="submit"
                    class="btn btn-primary btn-lg w-100 mt-4 mb-3"
                    [disabled]="!forgotPasswordForm.valid"
                    [hidden]="submitted"
                  >
                    Send me the reset password instructions
                  </button>

                  <div *ngIf="submitted && !failedForgotPassword">
                    {{resetSubmit()}}
                    <p [innerHTML]="resetString"></p>
                  </div>

                  <div class="my-2">
                    <a routerLink="/login">Login to your account</a>
                  </div>
                  <div class="mb-2">
                    <a routerLink="/register">Register a new account</a>
                  </div>
                </form>
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>