<div class="new-back">

  <div class="new-header">
    <div class="container">
      <h1>
        Account password reset:
      </h1>
      <h4>
        Reset your password below
      </h4>
    </div>
  </div>

  <div class="new-main">
    <div class="container">
      <div class="row">

        <div class="col-md-6 mx-auto">
          <div class="container">
            <h2 class="text-center pb-3">
              Reset Password:
            </h2>

            <div class="card card-shadow-hard pt-4 pb-2 px-2 mb-5">
              <div class="container">
                <form [formGroup]="resetPasswordForm" (ngSubmit)="submit(resetPasswordForm.value)">
                  <div class="row">
                    <div class="form-group col-12 pb-3">
                      <div class="mb-5">
                        Reset your password by entering a new one below.
                      </div>
                      <label for="password">New Password</label>
                      <input type="password"
                             class="form-control"
                             id="password"
                             formControlName="password"
                      >
                      <control-messages [control]="resetPasswordForm.controls.passwordConfirmation"></control-messages>
                    </div>
                    <div class="form-group col-12 pb-3">
                      <label for="passwordConfirmation">Password Confirmation</label>
                      <input type="password"
                             class="form-control"
                             id="passwordConfirmation"
                             formControlName="passwordConfirmation"
                      >
                      <control-messages [control]="resetPasswordForm.controls.passwordConfirmation"></control-messages>
                    </div>
                  </div>

                  <div *ngIf="resetPasswordForm.errors">
                    <p class="alert alert-danger" role="alert">
                      {{resetPasswordForm.errors}}
                    </p>
                  </div>

                  <button type="submit"
                    class="btn btn-primary btn-lg w-100 mt-4 mb-3"
                    [disabled]="!resetPasswordForm.valid"
                    [hidden]="submitted"
                  >
                    Change account password
                  </button>

                  <div *ngIf="submitted && !resetPasswordForm.errors">
                    {{resetSubmit()}}
                    <p [innerHTML]="resetString"></p>
                  </div>

                  <div class="my-2">
                    <a routerLink="/login">Login to your account</a>
                  </div>
                  <div class="mb-2">
                    <a routerLink="/register">Register a new account</a>
                  </div>
                </form>
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>