<div class="back-image">
  <div class="back-gradient">
    <div class="back-darken">
      <h1 class="page-heading">Welcome to your next haircut!</h1>

      <div class="container">
        <div class="main-content jumbotron">
          <div class="container">
            <div class="page-content-focus">
              <h2 class="text-center">What will your next haircut look like?</h2>
              <p class="lead">If you're looking for an expert in cutting men's hair in Utah County, then you've come to the right place!</p>
            </div>

            <h3 class="text-center">One of the last barber stylists in Utah</h3>
            <p>Barber stylists who specialize in cutting men's hair the right way is a dying breed. Come and see how a man's hair should be cut!</p>
            <p class="lead">I specialize in <a routerLink="/haircut">men's hair cutting</a>, <a routerLink="/shave">straight edge shaving</a>, and <a routerLink="/trim">beard trimming</a>.</p>
            <p>Check out all of the types of <a routerLink="/services">haircuts</a> I provide. Read about what the news has to say about me in my <a routerLink="/blog">blog</a>. Read what people are saying about their haircuts from the <a routerLink="/testimonials">testimonials</a> page. Or <a routerLink="/about">click here</a> to learn about who I am and the work I do.</p>
            <p>Call me with any questions you have or set up an appointment by phoning 801-785-9090. I look forward to giving you a great haircut at a great price! <a routerLink="/contact">Come visit me today</a>.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>