<h1 class="page-heading">Welcome</h1>

<div class="container">
  <div class="jumbotron">
    <h3>What will your next haircut look like?</h3>
    <p class="lead">If you're looking for an expert in cutting men's hair, then you've come to the right place!</p>
    <h4>As one of the last barber stylists in Utah, I specialize in men's hair cutting, straight edge shaving, and beard trimming.</h4>
    <p>Check out the types of haircuts I provide. Read about what the news has to say about me in my blog. Read what people are saying about their haircuts from the testimonials page. Or click here to learn about who I am and the work I do. Call me with any questions you have or set up an appointment. I look forward to giving you a great haircut at a great price! Come visit me today.</p>
  </div>
</div>