<h1 class="page-heading">Welcome</h1>

<div class="container">
  <div class="jumbotron">
    <p class="lead">What will your next hair cut look like?</p>
    <p>If you're looking for an exceptional hair cut, then you've come to the right place.</p>
    <p class="lead">As one of the last barber stylists in Utah, I specialize in hair cutting, shaving, and beard trimming</p>
    <p>Check out the types of haircuts I provide, visit my blog, read the testimonials, or click here to learn about who I am and the work I do. Call me with any questions you have or set up an appointment. I look forward to giving you a great haircut at a great price. Come visit me today.</p>
  </div>
</div>