<div class="back-image">
  <div class="back-gradient">
    <div class="back-darken">
      <h1 class="page-heading">Beard Trim</h1>

      <div class="container">
        <div class="main-content jumbotron">
          <div class="page-content-focus">
            <h2 class="text-center pb-4">Precision Beard Trimming</h2>
            <p class="lead">Do you need someone to tame that mane? I am a barber who knows how a beard should be trimmed and how to do it right!</p>
          </div>

          <div class="d-flex">
            <img title="Beard Trimming" alt="A person's beard getting trimmed from a barber" src="https://s3-us-west-1.amazonaws.com/evans-roman-way/beard-trim.jpg" height="300px" />
            <div>
              <p class="pt-3 pl-2">
                I have the right tools to get your beard painlessly trimmed with percision. From scissors to razors and combing to keep your beard clean, you'll enjoy the results you'll receive.
              </p>
              <p>
                Whether your beard is curly, wavey, straight, thick, thin, long, or short, not all beards are created equal. My beard trimming services are tailerd to trim your beard to the unique style and length you desire. Beard trimmings can be combined with hair cutting or done separately. A beard trimming typically takes about 5 minutes to complete.
              </p>
            </div>
          </div>

          <div class="text-center ml-5">
            <h3 class="mt-5">Pricing details:</h3>
            <div class="d-inline-flex pl-5 ml-5">
              <div class="text-left pt-3">
                <p>$14 standard price</p>
                <p>* Can be combined with a standard haircut</p>
              </div>

              <img title="Barber scissors and combs" alt="Collection of tools for use by a barber" src="https://s3-us-west-1.amazonaws.com/evans-roman-way/toolsforbarber.jpg" height="200px" />
            <p class="pt-3 pl-2">
            </div>
          </div>

          <p class="pt-5">
            Got a beard trimming from me? Post your <a routerLink="/testimonials">testimonial</a> or read other <a routerLink="/testimonials">testimonials</a> about how great my beard trimming services have been.
          </p>
          <p class="pt-5 mt-1">
            Make your next <a routerLink="/contact">appointment</a> today!
          </p>
          <p>
            Walk-ins are welcome, but appointments take presidence.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>