<div class="back-image-barber">
  <div class="back-gradient">
    <div class="back-darken">
      <h1 class="page-heading">Beard Trim</h1>

      <div class="container">
        <div class="main-content jumbotron">
          <h2 class="text-center pb-4">Precision Beard Trimming</h2>
          <p class="lead pb-3">Do you need someone to tame that mane? I am a barber who knows how a beard should be trimmed and how to do it right!</p>

          <div>
            <img title="Beard Trimming" alt="A person's beard getting trimmed from a barber" src="../assets/images/beard-trimming2.jpg" height="300px" class="float-left" />
            <div>
              <p class="pt-3 pl-2">
                I have the right tools to get your beard painlessly trimmed with percision. From scissors to razors to keep your beard clean, you'll enjoy the results you'll receive.
              </p>
              <img title="Beard Trimming" alt="A person's beard getting trimmed from a barber" src="https://s3-us-west-1.amazonaws.com/evans-roman-way/beard-trim.jpg" height="200px" class="float-right" />
              <p class="clearfix">
                Whether your beard is curly, wavey, straight, thick, thin, long, or short, not all beards are created equal. My beard trimming services are tailerd to trim your beard to the unique style and length you desire. Beard trimmings can be included with a <a routerLink="/services/haircut">standard haircut</a> for an additional cost.
              </p>
            </div>
          </div>

          <div class="text-center">
            <h3 class="mt-5">Pricing details:</h3>
            <div class="text-left pt-2 pb-3">
              <img title="Barber scissors and combs" alt="Collection of tools for use by a barber" src="../assets/images/hair-trimming.jpg" height="200px" class="float-left mr-5" />
              <div class="clearfix pt-4">
                <p>$14 standard price</p>
                <p>
                  * Additional services can be added for an additional price
                </p>
              </div>

              <img title="Barber scissors and combs" alt="Collection of tools for use by a barber" src="../assets/images/hair-cutting-tools.jpg" height="200px" class="float-right" />
            </div>
          </div>

          <p class="pt-5 text-left">
            Got a beard trimming from me? Post your <a routerLink="/testimonials">testimonial</a> or read other <a routerLink="/testimonials">testimonials</a> about how great other hair cutting services have been.
          </p>
          <p class="pt-4">
            Make your next <a routerLink="/contact">appointment</a> by calling (801) 785-9090 today!
          </p>
          <p>
            Walk-ins are welcome, but appointments take presidence.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>