<div class="back-image-barber">
  <div class="back-gradient">
    <div class="back-darken">
      <h1 class="page-heading">About Me</h1>

      <div class="container">
        <div class="main-content jumbotron">
          <h2 class="text-center pb-4">One of the last barber stylists</h2>

          <div>
            <div class="image-left">
              <img src="https://s3-us-west-1.amazonaws.com/evans-roman-way/evan_cutting_hair.jpg" title="Evan Harris at work" alt="Picture of Evan Harris in cutting someone's hair" height="300px">
            </div>

            <div>
              <p class="lead">
                Barber stylists who specialize in cutting men's hair the right way is a dying breed. A barber knows how a man's hair needs to be cut!
              </p>
              <p>
                Having been a barber for over 47 years, I've honed my skill to an art. I guarantee you'll love the haircut you'll receive.
              </p>
              <p>
                In the day, as a senior at BYU, I was drafted into the US army. Upon returning from the army and to take care of my family, I attended and graduated from Salt Lake Barber college where I found great success in cutting hair. After working with another barber for a short time, I bought out the business and formed a business of my own, Evan's Roman Way, in Orem Utah.
              </p>

              <div class="image-right">
                <img src="https://s3-us-west-1.amazonaws.com/evans-roman-way/evan_profile.jpg" title="Evan Harris - Barber/Stylist" alt="Profile picture of Evan Harris in casual clothes with a smile" height="300px">
              </div>

              <h4 class="pt-4 pb-3">
                I specialize in <a routerLink="/services/haircut">men's hair cutting</a>, <a routerLink="/services/razorcut">straight edge razor hair cutting</a>, and <a routerLink="/services/trim">beard trimming</a>.
              </h4>
              <p>
                I handle hair with care and use the right tools for the right job. Whether your hair is curley, wavey, straight, long, short, thick, or thin, I can cut your hair right and make you look good. I can cut your hair to the style you like and give you suggestions of styles that would work best for your hair type.
              </p>
              <p>
                Check out all of the types of <a routerLink="/services">haircuts</a> I provide. Read about what the news has said about me in my <a routerLink="/news">news blog</a>. Or read what people are saying about their haircuts from the <a routerLink="/testimonials">testimonials</a> page.
              </p>

              <p>
                Call me with any questions you have or set up an appointment by phoning 801-785-9090. I look forward to giving you a great haircut at a great price! <a routerLink="/contact">Come visit me today</a>.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>