<div class="back-image-barber">
  <div class="back-gradient">
    <div class="back-darken">
      <h1 class="page-heading">Contact Me</h1>

      <div class="container">
        <div class="main-content jumbotron">
          <h2 class="text-center pb-4">Call to make your next appointment today!</h2>
          <p class="lead pb-3">
            Walk-ins are welcome, but appointments take precedence.
          </p>

          <div class="row">
            <div class="col-md-5 pl-5">
              <h3>Phone Number:</h3>
              <p>(801) 785-9090</p>

              <h3 class="pt-3">Address:</h3>
              <p>1 E Center St.<br/>
                 Pleasant Grove, UT 84062<br/>
                <em class="small-text">
                  (Downtown on the corner of Center st. and Main st.)
                </em>
              </p>
            </div>
            <div class="col-md-7 pb-5">
              <iframe class="map-border-shadow" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3040.0212766606605!2d-111.74285184900536!3d40.364052579269995!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x874d841707d02d27%3A0xc772babc705d795b!2sEvan&#39;s+Roman+Way+Barber+Stylist!5e0!3m2!1sen!2sus!4v1523037404175" width="520" height="390" frameborder="0" allowfullscreen></iframe>
            </div>
          </div>

          <div class="row">
            <div class="col-md-7 text-right">
              <iframe class="map-border-shadow" src="https://www.google.com/maps/embed?pb=!4v1523039363240!6m8!1m7!1sfF_ynu84VhWK-LDbY3IgLg!2m2!1d40.36396083134777!2d-111.7407462818684!3f29.67403249273229!4f-6.517198432644648!5f1.9587109090973311" width="520" height="390" frameborder="0" allowfullscreen></iframe>
            </div>
            <div class="col-md-5">
              <p>
                Call me with any questions you have or to set up an appointment.
              </p>
              <p>
                I look forward to giving you a great haircut at a great price! Hope to see you soon!
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>