<div class="back-image-barber">
  <div class="back-gradient">
    <div class="back-darken">
      <h1 class="page-heading">Straight Edge Razor Cut</h1>

      <div class="container">
        <div class="main-content jumbotron">
          <h2 class="text-center pb-4">Perfection cut to precision</h2>
          <p class="lead pb-3">Expect the best! A straight edge razor cut is a service that only a barber can give!</p>

          <div>
            <img title="Barber razor haircut" alt="A barber giving a boy a straight edge razor haircut" src="https://s3-us-west-1.amazonaws.com/evans-roman-way/boy-getting-razor-cut.jpg" height="300px" class="float-left" />
            <p class="pt-3 pl-2">
              As one of the only barber stylists trained in razor hair cutting, the straight edge razor hair cutting service I provide will cut your hair with precision. For longer hair styles, this hair cutting service needs to be done while your hair is wet.
            </p>
            <img title="Barber washing hair" alt="A barber washing a client's hair" src="https://s3-us-west-1.amazonaws.com/evans-roman-way/barber-washing-hair.jpg" height="200px" class="float-right" />
            <p>
              To cut your hair right, I will wash your hair, cut it with a straight edge razor to perfect precision, and then dry your it to leave your hair looking and feeling just right.
            </p>
            <p class="clearfix">
              You can combine this service with a beard trimming or facial shave for an additional cost. All services can be customized. Ask for details.
            </p>
          </div>

          <div class="text-center">
            <h3 class="mt-5">Pricing details:</h3>
            <div class="text-left pt-2 pb-3">
              <img title="Man getting a razor haircut" alt="A man getting a haircut with a straight edge razor at a barber shop" src="https://s3-us-west-1.amazonaws.com/evans-roman-way/man-getting-razor-cut.jpg" height="200px" class="float-left mr-4" />
              <div class="clearfix pt-4">
                <p>$14 standard price</p>
                <p>* Additional services can be added for an additional price</p>
              </div>
              <img title="Barber's straight edge razor" alt="A black and white photo of a barber's straight edge razor on a counter top" src="https://s3-us-west-1.amazonaws.com/evans-roman-way/straight-edge-razor.jpg" height="200px" class="float-right" />
            </div>
          </div>


          <p class="pt-5">
            Got a haircut from me? Post your <a routerLink="/testimonials">testimonial</a> or read other <a routerLink="/testimonials">testimonials</a> about how great my hair cutting services have been.
          </p>
          <p class="pt-4">
            Make your next <a routerLink="/contact">appointment</a> by calling (801) 785-9090 today!
          </p>
          <p>
            Walk-ins are welcome, but appointments take presidence.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>