<div class="modal" materialize="modal" [materializeActions]="modalActions">
  <div class="card card-dimensions-main mx-auto">
    <div>
      <span class="modal-close">
        <i class="fa fa-times card-head" aria-hidden="true"></i>
      </span>
    </div>
    <div class="card-heading"></div>

    <div class="card-dimensions-body card-box-shadows d-flex flex-column">
      <!-- d-flex align-items-center -->
      <div class="mt-auto mb-3">
        <h3>{{authMode}}</h3>
      </div>

      <div class="mb-auto">
        <app-login-form (onFormResult)="onLoginFormResult($event)"
                        *ngIf="isLoginMode()">
        </app-login-form>

        <app-register-form (onFormResult)="onRegisterFormResult($event)"
                           *ngIf="isRegisterMode()">
        </app-register-form>

        <span *ngIf="isLoginMode()">
          Need an account? <a (click)="authMode='register'">Click here to register.</a>
        </span>
        <span *ngIf="isRegisterMode()">
          Already have an account? <a (click)="authMode='login'">Click here to login.</a>
        </span>
      </div>
    </div>
  </div>
</div>