html {
  height: 100%;
}
body {
  position: relative;
  font-family: 'Roboto Slab', serif;
  font-weight: 300;
  min-height: 100%;
  background: linear-gradient(#556981, #0f1317) no-repeat;
  margin: 0;
  padding-bottom: 13rem;
}



.loading-app {
  color: white;
  padding: 20px 40px;
  font-size: 1.5em;
  text-shadow: 1px 1px 2px #202020;
}



.back-image-barber {
  background-image: url('https://s3-us-west-1.amazonaws.com/evans-roman-way/barber-chair.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}
.back-gradient {
  background: linear-gradient(rgba(85, 105, 129, .8), rgba(15, 19, 23, .8)) no-repeat;
  height: 100%;
}
.back-darken {
  background-color: rgba(0, 0, 0, .4);
  height: 100%;
}

.main-content {
  background-color: rgba(85, 105, 129, .5);
  color: #c0c0c0;
  border: 1px solid #ccc;
  padding-left: 50px;
  padding-right: 50px;
}
.main-content a {
  text-decoration: none;
  color: #d3e7ff;
}
.main-content a:hover {
  text-decoration: underline;
  text-shadow: none;
}
.main-content a:active {
  color: #ffffd3;
  text-shadow: none;
}
.main-content img {
  border: 1px solid #999999;
  border-radius: 5px;
  margin: 10px;
  box-shadow: 1px 1px 2px #202020;
}
.main-content a img {
  border: 1px solid #d3e7ff;
}
.main-content a img:hover {
  border: 1px solid #d3e7ff;
  box-shadow: 0 0 0 1px #d3e7ff;
}
.main-content a img:active {
  border: 1px solid #ffffd3;
  box-shadow: 0 0 0 1px #ffffd3;
}



.page-heading {
  color: white;
  text-shadow: 2px 2px 2px #000000;
  padding: 10px 10px 20px 40px;
  font-family: 'Alegreya Sans SC', sans-serif;
  font-weight: 800;
}
.page-content-focus {
  padding-bottom: 3rem;
  border-bottom: 1px solid #ccc;
  margin-bottom: 2rem;
}



h1,
h2,
h3,
h4,
h5,
h6 {
  color: white;
  text-shadow: 1px 1px 2px #000000;
  font-family: 'Alegreya Sans SC', sans-serif;
  font-weight: 800;
}



.news-markdown h1,
.news-markdown h2,
.news-markdown h3,
.news-markdown h4,
.news-markdown h5,
.news-markdown h6 {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  text-shadow: none;
  color: black;
}