html {
  height: 100%;
}
body {
  position: relative;
  font-family: 'Roboto Slab', serif;
  font-weight: 300;
  min-height: 100%;
  background: linear-gradient(#556981, #0f1317) no-repeat;
  margin: 0;
  padding-bottom: 13rem;
}


/*.ng-valid[required], .ng-valid.required  {
  border-left: 5px solid #42A948;
}*/
input.ng-valid  {
  border-left: 5px solid #42A948; /* green */
}
.ng-invalid:not(form)  {
  border-left: 5px solid #a94442; /* red */
  color: #a94442;
}



.loading-app {
  color: white;
  padding: 20px 40px;
  font-size: 1.5em;
  text-shadow: 1px 1px 2px #202020;
}



.back-image-barber {
  background-image: url('https://s3-us-west-1.amazonaws.com/evans-roman-way/barber-chair.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}
.back-gradient {
  background: linear-gradient(rgba(85, 105, 129, .2), rgba(15, 19, 23, .2)) no-repeat;
  height: 100%;
}
.back-darken {
  background-color: rgba(0, 0, 0, .4);
  height: 100%;
}

.main-content {
  /*background-color: rgba(85, 105, 129, .5);*/
  /*background-color: rgba(129, 105, 85, .25);*/
  /*background-color: rgba(82, 45, 37, .25);*/
  /*background-color: rgba(96, 32, 18, .5);*/
  /*background-color: rgba(205, 167, 135, .5);*/
    /*Mom'e preference:*/
  /*background-color: rgba(244, 205, 172, .8);*/
  /*background-color: rgba(253, 213, 179, .5);*/
  /*background-color: rgba(255, 241, 207, .5);*/
  background-color: rgba(255, 255, 255, .9);
  /*color: #c0c0c0;*/
  color: #000;
  border: 1px solid #ccc;
  padding-left: 50px;
  padding-right: 50px;
}
.main-content a {
  text-decoration: none;
  color: #2020a0;
}
.main-content a:hover {
  text-decoration: underline;
  /*text-shadow: none;*/
}
.main-content a:active {
  color: #c02000;
  /*text-shadow: none;*/
}
.main-content img {
  border: 1px solid #585968;
  border-radius: 5px;
  margin: 10px;
  /*box-shadow: 2px 2px 5px #808080;*/
  /*box-shadow: 5px 5px 10px rgba(11, 22, 78, .1);*/
  box-shadow: 2px 2px 4px rgba(78, 78, 78, .3);
}
.main-content a img {
  border: 1px solid #2020a0;
}
.main-content a img:hover {
  border: 1px solid #2020a0;
  box-shadow: 0 0 0 1px #2020a0;
}
.main-content a img:active {
  border: 1px solid #c02000;
  box-shadow: 0 0 0 1px #c02000;
}



.page-heading {
  color: white;
  text-shadow: 2px 2px 4px #000000;
  padding: 10px 10px 20px 40px;
  font-family: 'Alegreya Sans SC', sans-serif;
  font-size: 3em;
  font-weight: 800;
}
.page-content-focus {
  padding-bottom: 3rem;
  border-bottom: 1px solid #ccc;
  margin-bottom: 2rem;
}



h1,
h2,
h3,
h4,
h5,
h6 {
  color: white;
  text-shadow: 1px 1px 2px #000000;
  font-family: 'Alegreya Sans SC', sans-serif;
  font-weight: 800;
}



.main-content h2,
.main-content h3,
.main-content h4 {
  color: #0b164e;
  text-shadow: 1px 1px 2px rgba(11, 22, 78, .35);
}



.news-markdown h1,
.news-markdown h2,
.news-markdown h3,
.news-markdown h4,
.news-markdown h5,
.news-markdown h6 {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  text-shadow: none;
  color: black;
}


.article-reference span {
  font-weight: 900 !important;
}
.article-reference a {
  font-style: italic !important;
  font-size: small;
}