<nav [class]="onNewsPage() ?
             'navbar nav-styles-news masthead-news' :
             'navbar nav-styles masthead'"
     id="top">

     <!-- {{currentPath.indexOf('news')}} -->
  <div class="container">

    <div class="contact-box">
      <div class="contact d-flex" [class.contact-news]=onNewsPage()>
        <div>
          <span class="contact-type" [class.contact-type-news]=onNewsPage()>Phone:</span>801.785.9090
        </div>
        <div class="d-flex">
          <span class="contact-type" [class.contact-type-news]=onNewsPage()>Address:</span>1 E Center St.<br />
          Pleasant Grove, UT 84062
        </div>
      </div>
    </div>

    <div class="brand mt-0">
      <img src='https://s3-us-west-1.amazonaws.com/evans-roman-way/logo_sm.png' alt="Company logo for Evan's Roman Way Barber/Stylist in Pleasant Grove, Utah" height="80px" />
    </div>

    <div class="ml-auto mt-auto">
      <ul class="nav ml-5" [class.nav-news]=onNewsPage()>
        <li class="nav-item">
          <a class="nav-link" routerLink="/home" routerLinkActive="active"><i class="fas fa-home fa-lg"></i></a>
        </li>
        <li class="nav-item dropdown">
          <div ngbDropdown class="d-inline-block dropdown-links">
            <button class="btn btn-dropdown-heading" [class.btn-dropdown-selected]=onServicesPage() [class.btn-dropdown-heading-news]=onNewsPage() id="servicesDropdown" ngbDropdownToggle>
              <i class="fas fa-cut"></i> Services
            </button>
            <div ngbDropdownMenu class="dropdown-menu" aria-labelledby="servicesDropdown">
              <a class="dropdown-item" routerLink="/services/haircut" routerLinkActive="active">Men's Haircut</a>
              <a class="dropdown-item" routerLink="/services/shave" routerLinkActive="active">Straight Edge Razor Shave</a>
              <a class="dropdown-item" routerLink="/services/trim" routerLinkActive="active">Beard Trim</a>
              <a class="dropdown-item" routerLink="/services" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">All Services</a>
            </div>
          </div>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/about" routerLinkActive="active">About Me</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/contact" routerLinkActive="active">Contact Me</a>
        </li>
        <!-- News Dropdown for Admin only. TODO: refactor for only showing for admins -->
<!--         <li class="nav-item dropdown">
          <div ngbDropdown class="d-inline-block dropdown-links">
            <button class="btn btn-dropdown-heading" [class.btn-dropdown-selected-news]=onNewsPage() [class.btn-dropdown-heading-news]=onNewsPage() id="newsDropdown" ngbDropdownToggle>
              News
            </button>
            <div ngbDropdownMenu class="dropdown-menu" aria-labelledby="newsDropdown">
              <a class="dropdown-item" routerLink="/news" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">News</a>
              <a class="dropdown-item" routerLink="/news/articles/new" routerLinkActive="active">New News</a>
            </div>
          </div>
        </li> -->
        <li class="nav-item">
          <a class="nav-link nav-link-news" routerLink="/news" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">News</a>
        </li>
        <!-- Standard News link for non-admin users. TODO: refactor to show when no admin user is logged in -->
<!--         <li class="nav-item">
          <a class="nav-link" [class.nav-link-news]="currentPath == '/news'" routerLink="/news" routerLinkActive="active">News</a>
        </li> -->
        <li class="nav-item">
          <a class="nav-link" routerLink="/testimonials" routerLinkActive="active">Testimonials</a>
        </li>
        <li class="nav-account">
          <a class="nav-link" routerLink="/register" routerLinkActive="active">Register</a>
        </li>
        <li class="nav-account">
          <a class="nav-link" routerLink="/login" routerLinkActive="active">Login</a>
        </li>
      </ul>
    </div>
  </div>
</nav>



<router-outlet></router-outlet>



<footer [class.footer-news]=onNewsPage()>
  <div class="copyright">
    &#169; {{today | date:'yyyy'}} | Evan's Roman Way Barber Stylist &nbsp;All rights reserved
  </div>

  <ul class="footer-links d-flex justify-content-center">
    <li class="footer-line" [class.footer-line-news]=onNewsPage()>
      <a class="footer-link" routerLink="/home" routerLinkActive="active">Home</a>
    </li>

    <li>
      <a class="footer-link" routerLink="/services" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Services</a>
    </li>
    <li class="footer-arrow" [class.footer-arrow-news]=onNewsPage()>
    </li>
    <li class="footer-line" [class.footer-line-news]=onNewsPage()>
      <div class="d-flex justify-content-start">
        <a class="footer-link py-0 my-0" routerLink="/services/haircut" routerLinkActive="active">Men's Haircut</a>
      </div>
      <div class="d-flex justify-content-start">
        <a class="footer-link py-0 my-0" routerLink="/services/shave" routerLinkActive="active">Straight Edge Razor Shave</a>
      </div>
      <div class="d-flex justify-content-start">
        <a class="footer-link py-0 my-0" routerLink="/services/trim" routerLinkActive="active">Beard Trim</a>
      </div>
    </li>

    <li class="footer-line" [class.footer-line-news]=onNewsPage()>
      <div class="d-flex justify-content-start">
        <a class="footer-link py-0 my-0" routerLink="/about" routerLinkActive="active">About Me</a>
      </div>
      <div class="d-flex justify-content-start">
        <a class="footer-link py-0 my-0" routerLink="/contact" routerLinkActive="active">Contact Me</a>
      </div>
    </li>

    <li class="footer-line" [class.footer-line-news]=onNewsPage()>
      <div class="d-flex justify-content-start">
        <a class="footer-link py-0 my-0" routerLink="/news" routerLinkActive="active">News</a>
      </div>
      <div class="d-flex justify-content-start">
        <a class="footer-link py-0 my-0" routerLink="/testimonials" routerLinkActive="active">Testimonials</a>
      </div>
    </li>

    <li>
      <div class="d-flex justify-content-start">
        <a class="footer-link py-0 my-0" routerLink="/register" routerLinkActive="active">Register</a>
      </div>
      <div class="d-flex justify-content-start">
        <a class="footer-link py-0 my-0" routerLink="/login" routerLinkActive="active">Login</a>
      </div>
    </li>
  </ul>

  <div class="mt-4">
    <a [class]="onNewsPage() ?
             'footer-scroll-up-news' :
             'footer-scroll-up'"
       pageScroll [pageScrollDuration]="200" href="#top"><i class="fas fa-chevron-circle-up fa-2x"></i></a>
  </div>
</footer>