<nav class="navbar nav-styles masthead d-flex">
  <div class="container">
    <div class="brand mr-auto">
        Evan's Roman Way Barber Shop
    </div>

    <div class="ml-auto">
      <ul class="nav ml-5">
        <li class="nav-item">
          <a class="nav-link" routerLink="/home" routerLinkActive="active">Home</a>
        </li>
        <li class="nav-item dropdown">
          <div ngbDropdown class="d-inline-block dropdown-links">
            <button class="btn btn-dropdown-heading" id="proposalDropdown" ngbDropdownToggle>
              Haircut Services
            </button>
            <div ngbDropdownMenu class="dropdown-menu" aria-labelledby="proposalDropdown">
              <a class="dropdown-item" routerLink="/standard" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">Standard</a>
              <a class="dropdown-item" routerLink="/razor-cut" routerLinkActive="active">Razor Cut</a>
            </div>
          </div>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/blog" routerLinkActive="active">Blog</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/about" routerLinkActive="active">About Me</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/contact" routerLinkActive="active">Contact Me</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/testimonials" routerLinkActive="active">Testimonials</a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<div class="app-body">
</div>

<router-outlet></router-outlet>