<nav class="navbar nav-styles masthead" id="top">
  <div class="container">
    <div class="brand mr-auto">
      <img src="https://s3-us-west-1.amazonaws.com/evans-roman-way/logo.png" title="Evan's Roman Way Barber/Stylist" alt="Company logo for Evan's Roman Way Barber/Stylist in Pleasant Grove, Utah" height="80px" />
    </div>

    <div class="contact d-flex">
      <div>
        <span class="contact-type">Phone:</span>801.785.9090
      </div>
      <div class="d-flex">
        <span class="contact-type">Address:</span>1 E Center St.<br />
        Pleasant Grove, UT 84062
      </div>
    </div>

    <div class="ml-auto mt-auto">
      <ul class="nav ml-5">
        <li class="nav-item">
          <a class="nav-link" routerLink="/home" routerLinkActive="active"><i class="fas fa-home fa-lg"></i></a>
        </li>
        <li class="nav-item dropdown">
          <div ngbDropdown class="d-inline-block dropdown-links">
            <button class="btn btn-dropdown-heading" id="proposalDropdown" ngbDropdownToggle>
              <i class="fas fa-cut"></i> Services
            </button>
            <div ngbDropdownMenu class="dropdown-menu" aria-labelledby="proposalDropdown">
              <a class="dropdown-item" routerLink="/haircut" routerLinkActive="active">Men's Haircut</a>
              <a class="dropdown-item" routerLink="/shave" routerLinkActive="active">Straight Edge Razor Shave</a>
              <a class="dropdown-item" routerLink="/trim" routerLinkActive="active">Beard Trim</a>
              <a class="dropdown-item" routerLink="/services" routerLinkActive="active">All Services</a>
            </div>
          </div>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/about" routerLinkActive="active">About Me</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/contact" routerLinkActive="active">Contact Me</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/blog" routerLinkActive="active">Blog</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/testimonials" routerLinkActive="active">Testimonials</a>
        </li>
      </ul>
    </div>
  </div>
</nav>



<router-outlet></router-outlet>



<footer>
  <div class="copyright">
    &#169; 2018 | Evan's Roman Way Barber Stylist &nbsp;All rights reserved
  </div>

  <ul class="footer-links d-flex justify-content-center">
    <li class="footer-line">
      <a class="footer-link" routerLink="/home" routerLinkActive="active">Home</a>
    </li>

    <li>
      <a class="footer-link" routerLink="/services" routerLinkActive="active">Services</a>
    </li>
    <li class="footer-arrow">
    </li>
    <li class="footer-line">
      <div class="d-flex justify-content-start">
        <a class="footer-link py-0 my-0" routerLink="/haircut" routerLinkActive="active">Men's Haircut</a>
      </div>
      <div class="d-flex justify-content-start">
        <a class="footer-link py-0 my-0" routerLink="/shave" routerLinkActive="active">Straight Edge Razor Shave</a>
      </div>
      <div class="d-flex justify-content-start">
        <a class="footer-link py-0 my-0" routerLink="/trim" routerLinkActive="active">Beard Trim</a>
      </div>
    </li>

    <li class="footer-line">
      <div class="d-flex justify-content-start">
        <a class="footer-link py-0 my-0" routerLink="/about" routerLinkActive="active">About Me</a>
      </div>
      <div class="d-flex justify-content-start">
        <a class="footer-link py-0 my-0" routerLink="/contact" routerLinkActive="active">Contact Me</a>
      </div>
    </li>

    <li class="footer-line">
      <div class="d-flex justify-content-start">
        <a class="footer-link py-0 my-0" routerLink="/blog" routerLinkActive="active">Blog</a>
      </div>
      <div class="d-flex justify-content-start">
        <a class="footer-link py-0 my-0" routerLink="/testimonials" routerLinkActive="active">Testimonials</a>
      </div>
    </li>

    <li>
      <div class="d-flex justify-content-start">
        <a class="footer-link py-0 my-0" routerLink="/register" routerLinkActive="active">Register</a>
      </div>
      <div class="d-flex justify-content-start">
        <a class="footer-link py-0 my-0" routerLink="/login" routerLinkActive="active">Login</a>
      </div>
    </li>
  </ul>

  <div>
    <a class="footer-scroll-up" pageScroll [pageScrollDuration]="200" href="#top"><i class="fas fa-chevron-circle-up fa-2x"></i></a>
  </div>
</footer>