<div id="article-list">
<div class="new-back">

  <div class="new-header">
    <div class="container">
      <h1>
        The latest news:
      </h1>
      <h4>
        News media, recent events, and other fun stuff
      </h4>
      <span *ngIf="isAdmin()">
        <p>
          <a routerLink="/news/articles/new"><button class="btn btn-outline-secondary btn-sm">New news article</button></a>
        </p>
      </span>
    </div>
  </div>

  <div class="new-main">
    <div class="container">
      <div class="row">
        <div class="col-md-9 col-sm-7 col-6">
          <div class="container pb-5">

            <div *ngIf="alertNumber === 1">
              {{alertNetworkError()}}
              <p [innerHTML]="alertMessage"></p>
            </div>
            <div *ngIf="alertNumber === 2">
              {{alertNetworkLoading()}}
              <p [innerHTML]="alertMessage"></p>
            </div>

            <div *ngIf="alertNumber === 0">
              <pagination-controls id="paginate"
                        (pageChange)="p = $event"
                        maxSize="9"
                        directionLinks="true"
                        autoHide="true"
                        previousLabel="Previous"
                        nextLabel="Next"
                        screenReaderPaginationLabel="Pagination"
                        screenReaderPageLabel="page"
                        screenReaderCurrentLabel="You're on page">
              </pagination-controls>
              <div *ngIf="paginationTotal>5" class="pagination-top"></div>
            </div>

            <div *ngFor="let article of articles | orderBy : order : true | paginate: { id: 'paginate', itemsPerPage: 5, currentPage: p }; let first = first; let last = last" [class.pb-2]="!last" [class.pt-4]="!first" [attr.id]="'article_' + article.id">
              <div class="new-post-select">
                <div class="container new-post">
                  <a class="w-100" pageScroll [pageScrollOffset]="-200" [pageScrollDuration]="200" [pageScrollInterruptible]="false" [routerLink]="'/news/article/' + this.article.id" href="#article">
                    <h3 class="py-3 new-title">
                      {{ article.title }}
                    </h3>
                    <p class="new-markdown">
                      <markdown data="{{ article.content | truncate:[200] }}"></markdown>
                    </p>
                    <p>
                      <small>Last Updated: {{article.updated_at | date:'medium'}}</small>
                    </p>
                  </a>
                </div>
              </div>

              <div class="container mt-3">
                <span class="pr-3">
                  <a class="new-link" pageScroll [pageScrollOffset]="-200" [pageScrollDuration]="200" [pageScrollInterruptible]="false" [routerLink]="'/news/article/' + this.article.id" href="#article">
                    <button class="btn btn-primary new-show-btn mb-3">Read More</button>
                  </a>
                </span>

                <span *ngIf="isAdmin()">
                  <a (click)="deleteArticle(article.id)" class="new-link">
                    <button class="btn btn-danger new-show-btn mb-3">Delete Article</button>
                  </a>
                </span>
              </div>
            </div>

            <div *ngIf="alertNumber === 0">
              <div *ngIf="paginationTotal>5" class="pagination-bottom"></div>
              <pagination-controls id="paginate"
                        (pageChange)="p = $event"
                        maxSize="9"
                        directionLinks="true"
                        autoHide="true"
                        previousLabel="Previous"
                        nextLabel="Next"
                        screenReaderPaginationLabel="Pagination"
                        screenReaderPageLabel="page"
                        screenReaderCurrentLabel="You're on page">
              </pagination-controls>
            </div>

          </div>
        </div>

        <div class="col-md-3 col-sm-5 col-6">
          <div class="container">
            <sidebar></sidebar>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>