<div class="new-back">

  <div class="new-header">
    <div *ngIf="article" class="container">
      <h1>
        The latest news:
      </h1>
      <h4>
        News media, recent events, and other fun stuff
      </h4>
      <p class="mt-3">
        <a routerLink="/news">Back to news articles</a>
      </p>
    </div>
  </div>

  <div class="new-main">
    <div class="container">
      <div class="row">
        <div class="col-md-9 col-sm-7 col-6">
          <div *ngIf="article">
            <div class="card card-box-shadows py-2 mb-5" *ngIf="isAdmin() && editBtnClicked">
              <div class="container">
                <form #articleForm="ngForm">
                  <div class="form-group">
                    <label for="title">Title</label>
                    <div [hidden]="title.valid || title.pristine" class = 'alert alert-danger'>
                      A title is required
                    </div>
                    <input type="text"
                           class="form-control"
                           id="title"
                           placeholder="The Great Haircut"
                           required
                           name="title"
                           #title='ngModel'
                           [(ngModel)]="article.title"
                    >
                  </div>
                  <div class="form-group">
                    <label for="content">Body</label>
                    <div [hidden]="content.valid || content.pristine" class = 'alert alert-danger'>
                      Body content is required
                    </div>
                    <textarea rows="10"
                           class="form-control"
                           id="content"
                           placeholder="Article content"
                           required
                           name="content"
                           #content='ngModel'
                           [(ngModel)]="article.content"
                    ></textarea>
                  </div>
                  <div class="form-group">
                    <label for="ref_source_url">Reference Source</label>
                    <input type="text"
                           class="form-control"
                           id="ref_source_url"
                           placeholder="new Post"
                           name="ref_source_url"
                           #ref_source_url='ngModel'
                           [(ngModel)]="article.ref_source_url"
                    >
                  </div>

                  <button type="submit"
                    (click)="update(article)"
                    class="btn btn-outline-primary btn-lg w-100 mt-4 mb-3"
                    [disabled]="!articleForm.form.valid"
                  >
                    Update Article
                  </button>
                </form>
              </div>
            </div>


            <div class="container card card-box-shadows pt-4 pb-1 mb-4">
              <h2 class="mb-4">
                {{ article.title }}
              </h2>
              <p class="new-markdown">
                <markdown data="{{ article.content }}"></markdown>
              </p>
              <p>
                {{ article.ref_source_url }}
              </p>
            </div>

            <div *ngIf="isAdmin()" class="container mb-5">
              <div [hidden]="editBtnClicked">
                <span class="pr-3">
                  <a (click)="update(article)" class="new-link">
                    <button class="btn btn-primary new-show-btn mb-3">Edit</button>
                  </a>
                </span>

                <span *ngIf="isAdmin()" class="pr-3">
                  <a (click)="delete(article)" class="new-link">
                    <button class="btn btn-danger new-show-btn mb-3">Delete</button>
                  </a>
                </span>
              </div>
              <br [hidden]="!editBtnClicked" />
            </div>

          </div>
        </div>

        <div class="col-md-3 col-sm-5 col-6">
          <div class="container">
            <div class="new-sidebar card-box-shadows pt-4">
              <p>
                <a routerLink="/login" routerLinkActive="active">Login</a> or <a routerLink="/register" routerLinkActive="active">register</a> to comment on news posts.
              </p>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>