<div class="news-back">

  <div class="news-header">
    <div class="container">
      <h1>
        The latest news:
      </h1>
      <h4>
        News media, recent events, and other fun stuff
      </h4>
      <!-- TODO: Refactor to show only for admins -->
      <p>
        <a routerLink="/news/articles/new" routerLinkActive="active">New news article</a>
      </p>
    </div>
  </div>

  <div class="news-main">
    <div class="container">
      <div class="row">
        <div class="col-md-9 col-sm-7 col-6">
          <div class="container pb-5">

            <div *ngFor="let article of articles; let first = first; let last = last" [class.news-separator]="!last" [class.pb-4]="!last" [class.pt-4]="!first">
              <div class="container news-post">
                <a (click)="goToShow(article)">
                  <a (click)="goToShow(article)">
                    <h2 class="py-3 news-title">
                      {{ article.title }}
                    </h2>
                  </a>
                  <p>
                    {{ (article.content.length>500)? (article.content | slice:0:500)+'...':(article.content) }}
                  </p>
                  <div class="container">
                    <span class="pr-3">
                      <a (click)="goToShow(article)" class="news-link">
                        <button class="btn btn-primary news-show-btn mb-3">Read More</button>
                      </a>
                    </span>
                    <span>
                      <a (click)="goToShow(article)" class="news-link">
                        <button class="btn btn-secondary news-show-btn mb-3">See Comments</button>
                      </a>
                    </span>
                  </div>
                </a>
              </div>
              <!-- <hr class="my-4"> -->
            </div>

          </div>
        </div>

        <div class="col-md-3 col-sm-5 col-6">
          <div class="container">
            <div class="news-sidebar card-box-shadows pt-4">
              <p>
                <a routerLink="/login" routerLinkActive="active">Login</a> or <a routerLink="/register" routerLinkActive="active">register</a> to comment on news posts.
              </p>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>