<div class="news-back">

  <div class="news-header">
    <div class="container">
      <h1>
        The latest news:
      </h1>
      <h4>
        News media, recent events, and other fun stuff
      </h4>
    </div>
  </div>

  <div class="news-main">
    <div class="container">
      <div class="row">
        <div class="col-md-9 col-sm-7 col-6">
          <div class="container pb-5">
            <p>
              This is a test
            </p>
            <p>
              I graduate of BYU where I learned how to cut hair right. Soon after school, I served a brief period in the US Army while stationed in Vietnam. Upon returning home, I used the knowledge I gained in college and opened up for business in cutting hair for men in [Month] of [year]. I started my own business, Evan's Roman Way, in Orem Utah.
            </p>
            <p>
              I graduate of BYU where I learned how to cut hair right. Soon after school, I served a brief period in the US Army while stationed in Vietnam. Upon returning home, I used the knowledge I gained in college and opened up for business in cutting hair for men in [Month] of [year]. I started my own business, Evan's Roman Way, in Orem Utah.
            </p>
            <p>
              I graduate of BYU where I learned how to cut hair right. Soon after school, I served a brief period in the US Army while stationed in Vietnam. Upon returning home, I used the knowledge I gained in college and opened up for business in cutting hair for men in [Month] of [year]. I started my own business, Evan's Roman Way, in Orem Utah.
            </p>
            <p>
              I graduate of BYU where I learned how to cut hair right. Soon after school, I served a brief period in the US Army while stationed in Vietnam. Upon returning home, I used the knowledge I gained in college and opened up for business in cutting hair for men in [Month] of [year]. I started my own business, Evan's Roman Way, in Orem Utah.
            </p>
          </div>
        </div>

        <div class="col-md-3 col-sm-5 col-6">
          <div class="container">
            <div class="news-sidebar card-box-shadows pt-4">
              <p>
                <a routerLink="/login" routerLinkActive="active">Login</a> or <a routerLink="/register" routerLinkActive="active">register</a> to comment on news posts.
              </p>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>