<div class="news-back">

  <div class="news-header">
    <div class="container">
      <h1>
        The latest news:
      </h1>
      <h4>
        News media, recent events, and other fun stuff
      </h4>
    </div>
  </div>

  <div class="news-main">
    <div class="container">
      <div class="row">
        <div class="col-md-9 col-sm-7 col-6">
          <div class="container pb-5">
            <div *ngFor="let newsPost of newsPosts" class="">
              <h2 class="pb-4">
                {{ newsPost.title }}
              </h2>
              <p class="pb-5">
                {{ (newsPost.content.length>30)? (newsPost.content | slice:0:1500)+'... (Click to read more)':(newsPost.content) }}
              </p>
            </div>

          </div>
        </div>

        <div class="col-md-3 col-sm-5 col-6">
          <div class="container">
            <div class="news-sidebar card-box-shadows pt-4">
              <p>
                <a routerLink="/login" routerLinkActive="active">Login</a> or <a routerLink="/register" routerLinkActive="active">register</a> to comment on news posts.
              </p>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>