h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Roboto Slab', serif;
  font-weight: 300;
  line-height: 1em;
  text-shadow: none;
  color: black;
}

h1 {
  font-size: 3rem;
}


a:hover {
  color: #007bff;
}
a:active {
  color: #0056b3
}


.news-back {
  /*background-color: #e5e5e5;*/
  /*background-color: rgba(255, 255, 255, .7);*/
  font-family: 'Roboto', sans-serif;
  background-color: white;
  color: black;
}
.news-main {
  padding-top: 3rem;
  background-color: #fafaff;
}


.news-header {
  padding: 3rem 0 2rem;
  border-bottom: .05rem solid #eee;
}
.news-header h1 {
  color: #1c3f80;
}
.news-header h4 {
  color: #a6a6a6;
}


.news-sidebar {
  background-color: #f4f3fa;
  border-radius: 5px;
  padding: 20px;
}


.card-box-shadows {
  border: 1px solid #f0f0f0;
  border-radius: 5px;
  box-shadow: 2px 2px 3px #fafafa;
}


.news-show-btn {
  width: 200px;
}
.news-link {
  text-decoration: none;
}


.news-post {
  border: 1px solid transparent;
}
.news-post > a {
  text-decoration: none;
  color: black;
}
.news-post:hover {
  background-color: #f4f3fa;
  border: 1px solid #f0f0f0;
  border-radius: 5px;
  box-shadow: 2px 2px 3px #fafafa;
}
.news-separator {
  border-bottom: 1px solid #d9d9d9;
}