.blog-back {
  /*background-color: #e5e5e5;*/
  /*background-color: rgba(255, 255, 255, .7);*/
  font-family: 'Roboto', sans-serif;
  background-color: white;
  color: black;
}


.blog-header {
  color: #2a5ebf;
  padding: 3rem 0 2rem;
  margin-bottom: 2rem;
  border-bottom: .05rem solid #eee;
}



.page-heading {

}


h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Roboto Slab', serif;
  color: #2a5ebf;
  text-shadow: 1px 1px 2px #bfbfbf;
  font-weight: 300;
}

h1 {
  font-size: 3rem;
}