<div class="back-image-barber">
  <div class="back-gradient">
    <div class="back-darken">
      <h1 class="page-heading">Haircut Services</h1>

      <div class="container">
        <div class="main-content jumbotron">
          <div class="page-content-focus">
            <h2 class="text-center pb-4">Barber taylored hair care services</h2>
            <p class="lead">Need your hair taken care of? Have a barber tame your mane like no stylist can. Like I always say, "It's my job to make people look handsome, not beautiful." Below, you'll find the hair care services I specialize in.</p>
          </div>

          <h3 class="text-center mb-3">Hair care services I specialize in:</h3>

          <h4 class="mt-4"><a routerLink="/services/haircut">Men's Haircut</a></h4>
          <div class="d-flex">
            <a routerLink="/services/haircut">
              <img title="Barber scissors and combs" alt="Collection of tools for use by a barber" src="https://s3-us-west-1.amazonaws.com/evans-roman-way/toolsforbarber.jpg" height="200px" />
            </a>
            <div class="pt-3 pl-2">
              <p>
                Hair cutting for men with all lengths of hair from the standard military cut to longer styles.
              </p>
              <p class="pl-3">
                It typically takes 20 minutes to complete.
              </p>
              <p class="pl-3">
                Prices vary. <a routerLink="/services/haircut">Click for details</a>.
              </p>
            </div>
          </div>

          <h4 class="mt-4"><a routerLink="/services/shave">Straight Edge Razor Shave</a></h4>
          <div class="d-flex">
            <a routerLink="/services/shave">
              <img title="Barber shave" alt="A barber giving someone a shave with a straight edge razor" src="https://s3-us-west-1.amazonaws.com/evans-roman-way/barber-razor-shave.jpg" height="200px" />
            </a>
            <div class="pt-3 pl-2">
              <p>
                By me using a straight edge razor, you'll find that your shave will be much closer and clear than any other.
              </p>
              <p class="pl-3">
                It usually takes just a few minutes to complete.
              </p>
              <p class="pl-3">
                Prices vary. <a routerLink="/services/shave">Click for details</a>.
              </p>
            </div>
          </div>

          <h4 class="mt-4"><a routerLink="/services/trim">Beard Trim</a></h4>
          <div class="d-flex">
            <a routerLink="/services/trim">
              <img title="Beard Trimming" alt="A person's beard getting trimmed from a barber" src="https://s3-us-west-1.amazonaws.com/evans-roman-way/beard-trim.jpg" height="200px" />
            </a>
            <div class="pt-3 pl-2">
              <p>
                Whether your hair is curly, wavey, straight, thick or thin, my beard trimming service is tailerd to the unique style and length you desire.
              </p>
              <p class="pl-3">
                It typically takes about 5 minutes to complete.
              </p>
              <p class="pl-3">
                Prices vary. <a routerLink="/services/trim">Click for details</a>.
              </p>
            </div>
          </div>

          <p class="pt-5">
            Got a haircut from me? Post your <a routerLink="/testimonials">testimonial</a> or read other <a routerLink="/testimonials">testimonials</a> about how great my hair cutting services have been.
          </p>
          <p class="pt-5 mt-1">
            Make your next <a routerLink="/contact">appointment</a> today!
          </p>
          <p>
            Walk-ins are welcome, but appointments take presidence.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>