<div class="back-image-barber">
  <div class="back-gradient">
    <div class="back-darken">
      <h1 class="page-heading">Straight Edge Razor Shave</h1>

      <div class="container">
        <div class="main-content jumbotron">
          <h2 class="text-center pb-4">The clossest shave you'll ever get</h2>
          <p class="lead pb-3">As a shaving service only a barber can give, a straight edge razor can only offer the best!</p>

          <div class="d-flex">
            <img title="Barber shave" alt="A barber giving someone a shave with a straight edge razor" src="https://s3-us-west-1.amazonaws.com/evans-roman-way/barber-razor-shave.jpg" height="200px" />
            <p class="pt-3 pl-2">
              I only use a straight edge razor when I shave your face. And I'll shave your neck if you have a short hair style. You'll find that the shave resulting from this service is a much closer and cleaner shave than any other. I use a towell around your neck to protect your clothes and shaving cream used just in the right places. Straight edge razor shavings typically take just a few minutes to complete. Face shavings are also included with a men's haircut.
            </p>
          </div>

          <div class="text-center ml-5">
            <h3 class="mt-5 mb-3">Pricing details:</h3>
            <div class="d-inline-flex pl-5 ml-5">
              <div class="text-left pt-3">
                <p>$14 standard price</p>
                <p>* Included with a standard haircut</p>
              </div>

              <img title="Barber tools" alt="Collection of tools for use by a barber" src="https://s3-us-west-1.amazonaws.com/evans-roman-way/straight-edge-razors.jpg" height="200px" />
            </div>
          </div>


          <p class="pt-5">
            Got a straight edge razor shave from me? Post your <a routerLink="/testimonials">testimonial</a> or read other <a routerLink="/testimonials">testimonials</a> about how great my shaving services have been.
          </p>
          <p class="pt-4">
            Make your next <a routerLink="/contact">appointment</a> today!
          </p>
          <p>
            Walk-ins are welcome, but appointments take presidence.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>