<div class="new-back">

  <div class="new-header">
    <div class="container">
      <h1>
        Account Registration:
      </h1>
      <h4>
        Register an account to comment on news articles or leave testimonials
      </h4>
    </div>
  </div>

  <div class="new-main">
    <div class="container">
      <div class="row">

        <div class="col-md-8 mx-auto">
          <div class="container">
            <h2 class="text-center pb-3">
              User account creation:
            </h2>

            <div class="card card-shadow-hard pt-4 pb-2 px-2 mb-5">
              <div class="container">
                <form (ngSubmit)="submit(user)" #registerForm="ngForm">
                  <div class="row">
                    <div class="form-group col-lg-8 pb-3">
                      <label for="email">Email Address</label>
                      <input type="text"
                             class="form-control"
                             id="email"
                             placeholder="user@example.com"
                             required
                             email
                             name="email"
                             pattern="^\w+@[a-zA-Z_]+?\.[a-zA-Z]{2,3}$"
                             #email='ngModel'
                             [(ngModel)]="user.email"
                      >
                      <div class="form-group alert alert-danger mt-3" *ngIf="email.errors?.required && (!email.pristine || email.touched)">
                        An email address is required
                      </div>
                      <div class="form-group alert alert-danger mt-3" *ngIf="email.errors?.pattern && (email.pristine || email.touched)">
                        Please enter a valid email address
                      </div>

                    </div>
                  </div>
                  <hr>
                  <div class="row mt-4 mb-3">
                    <div class="form-group col-lg-6">
                      <label for="password">Password</label>
                      <input type="password"
                             class="form-control"
                             id="password"
                             required
                             name="password"
                             pattern='^(?=.*[A-Za-z])(?=.*\d)[A-Za-z\d/!@#$%^&*()]{8,20}$'
                             #password='ngModel'
                             [(ngModel)]="user.password"
                      >
                      <small id="passwordHelpBlock" class="form-text text-muted">
                        Must be 8-20 characters long with letters and numbers. Adding symbols are recommended.
                      </small>
                      <div class="form-group alert alert-danger mt-3" *ngIf="password.errors?.required && (!password.pristine || password.touched)">
                        A password is required
                      </div>
                      <div class="form-group alert alert-danger mt-3" *ngIf="password.errors?.pattern && (password.pristine || password.touched)">
                        Password must include letters and numbers at least 8 characters long
                      </div>
                    </div>

                    <div class="form-group col-lg-6">
                      <label for="passwordConfirmation">Confirm Password</label>
                      <input type="password"
                             class="form-control"
                             id="passwordConfirmation"
                             required
                             name="passwordConfirmation"
                             pattern='^(?=.*[A-Za-z])(?=.*\d)[A-Za-z\d/!@#$%^&*()]{8,20}$'
                             #passwordConfirmation='ngModel'
                             [(ngModel)]="user.passwordConfirmation"
                      >
                      <div class="form-group alert alert-danger mt-3" *ngIf="passwordConfirmation.errors?.required && (!passwordConfirmation.pristine || passwordConfirmation.touched)">
                        A confirming password is required
                      </div>
                      <div class="form-group alert alert-danger mt-3" *ngIf="password.value !== passwordConfirmation.value && passwordConfirmation.touched">
                        Both passwords must match
                      </div>
                    </div>
                  </div>

                  <button type="submit"
                    class="btn btn-primary btn-lg w-100 mt-4 mb-3"
                    [disabled]="!registerForm.form.valid"
                    [hidden]="submitted"
                  >
                    Register Account
                  </button>

                  <div [hidden]="!submitted">
                    <p class="alert alert-success mt-4" role="alert">
                      User account created. Redirecting to homepage.
                    </p>
                  </div>
                </form>
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>