<!-- <div class="new-back">

  <div class="new-header">
    <div class="container">
      <h1>
        Account Registration:
      </h1>
      <h4>
        Register an account to comment on news articles or leave testimonials
      </h4>
    </div>
  </div>

  <div class="new-main">
    <div class="container">
      <div class="row">

        <div class="col-md-8 mx-auto">
          <div class="container">
            <h2 class="text-center pb-3">
              User account creation:
            </h2> -->

            <!-- <div class="account-position"> -->
              <!-- <div class="account-size mt-4 mx-auto"> -->

            <div class="card card-shadow-hard pt-4 pb-2 px-2 mb-5">
              <div class="container">
                <form (ngSubmit)="signUp(user)" #registerForm="ngForm">
                  <div class="row">
                    <div class="form-group col-lg-6">
                      <label for="name">First Name</label>
                      <div [hidden]="name.valid || name.pristine" class = 'alert alert-danger'>
                        A first name is required
                      </div>
                      <input type="text"
                             class="form-control"
                             id="name"
                             required
                             name="name"
                             #name='ngModel'
                             [(ngModel)]="user.name"
                      >
                    </div>
                  </div>
                  <div class="row">
                    <div class="form-group col-lg-6 pb-4">
                      <label for="email">Email Address</label>
                      <div [hidden]="email.valid || email.pristine" class = 'alert alert-danger'>
                        An email address is required
                      </div>
                      <input type="text"
                             class="form-control"
                             id="email"
                             placeholder="user@example.com"
                             required
                             name="email"
                             #email='ngModel'
                             [(ngModel)]="user.email"
                      >
                    </div>
                  </div>
                  <hr>
                  <div class="row mt-4 mb-5">
                    <div class="form-group col-lg-6">
                      <label for="password">Password</label>
                      <div [hidden]="password.valid || password.pristine" class = 'alert alert-danger'>
                        Passwords must be at least 8 characters long
                      </div>
                      <input type="text"
                             class="form-control"
                             id="password"
                             required
                             name="password"
                             #password='ngModel'
                             [(ngModel)]="user.password"
                      >
                    </div>
                    <div class="form-group col-lg-6">
                      <label for="passwordConfirm">Confirm Password</label>
                      <div [hidden]="passwordConfirm.valid || passwordConfirm.pristine" class = 'alert alert-danger'>
                        Your passwords must match
                      </div>
                      <input type="text"
                             class="form-control"
                             id="passwordConfirm"
                             required
                             name="passwordConfirm"
                             #passwordConfirm='ngModel'
                             [(ngModel)]="user.passwordConfirm"
                      >
                    </div>
                  </div>

                  <button type="submit"
                    class="btn btn-primary btn-lg w-100 mt-4 mb-3"
                    [disabled]="!registerForm.form.valid"
                    [hidden]="submitted"
                  >
                    Register Account
                  </button>

                  <div [hidden]="!submitted">
                    <p class="alert alert-success mt-4" role="alert">
                      User account created
                    </p>
                    <div>
                      <a class="alert-link" routerLink="/news">
                        <button class="btn btn-primary w-100 mb-3">Comment on news articles</button>
                      </a>
                    </div>
                  </div>
                </form>
              </div>
            </div>

          <!-- </div> -->
        <!-- </div> -->
          <!-- </div>
        </div>

      </div>
    </div>
  </div>
</div> -->