<div class="new-back">

  <div class="new-header">
    <div class="container">
      <h1>
        Account Login:
      </h1>
      <h4>
        Log in to your account so you can comment on news articles or leave testimonials.
      </h4>
    </div>
  </div>

  <div class="new-main">
    <div class="container">
      <div class="row">

        <div class="col-md-6 mx-auto">
          <div class="container">
            <h2 class="text-center pb-3">
              User account Login:
            </h2>

            <div class="card card-shadow-hard pt-4 pb-2 px-2 mb-5">
              <div class="container">
                <form (ngSubmit)="createUser(user)" #loginForm="ngForm">
<!--                   <div class='form-group' [class.has-error]='email.invalid && email.touched'>
                    <label for='email' class='control-label'>Email</label>
                    <input id='email'
                           required
                           [email]='user.email!==""'
                           type='text'
                           class='form-control'
                           name='email'
                           [(ngModel)]='user.email'
                           #email='ngModel'
                    >
                    <span class='help-block' *ngIf='email.errors?.required && email.touched'>
                      Email is required
                    </span>
                    <span class='help-block' *ngIf='email.errors?.email && email.touched'>
                      Email is invalid
                    </span>
                  </div> -->
                  <!-- <div class="form-group" [class.invalid]='email.invalid && email.touched'> -->
                  <div class="form-group">
                    <label for="email">Email Address</label>


                    <!-- <div [hidden]="email.valid || email.pristine" class = 'alert alert-danger'> -->


                    <div *ngIf="email.errors?.required && email.touched" class='alert alert-danger'>
                      An email address is required
                    </div>
                    <div *ngIf="email.errors?.pattern && email.touched" class='alert alert-danger'>
                      Please enter a valid email address
                    </div>
                    <input type="text"
                           class="form-control"
                           id="email"
                           placeholder="user@example.com"
                           required
                           pattern="^([a-zA-Z0-9_\-\.]+)@([a-zA-Z0-9_\-\.]+)\.([a-zA-Z]{2,5})$"
                           name="email"
                           #email='ngModel'
                           [(ngModel)]="user.email"
                    >
                  </div>
                  <div class="form-group mb-5">
                    <label for="password">Password</label>
                    <div *ngIf="password.errors?.required && password.touched" class='alert alert-danger'>
                      A password is required
                    </div>
                    <div *ngIf="password.errors?.pattern && password.touched" class='alert alert-danger'>
                      Your password must be between 8 and 20 characters long
                    </div>
                    <input type="password"
                           class="form-control"
                           aria-describedby="passwordHelpBlock"
                           id="password"
                           required
                           pattern="(?=.*[\!@#$%^&*()\\[\]{}\-_+=~`|:;'<>,./?0-9])(?=.*[a-zA-Z]).{8,20}"
                           name="password"
                           #password='ngModel'
                           [(ngModel)]="user.password"
                    >
                    <small id="passwordHelpBlock" class="form-text text-muted">
                      Your password must be 8-20 characters long and must contain a number or special character, but not contain emojis.
                    </small>
                  </div>

                  <button type="submit"
                    class="btn btn-primary btn-lg w-100 mt-4 mb-3"
                    [disabled]="!loginForm.form.valid"
                    [hidden]="submitted"
                  >
                    Register Account
                  </button>

                  <div [hidden]="!submitted">
                    <p class="alert alert-success mt-4" role="alert">
                      Logged in successfully
                    </p>
                    <div>
                      <a class="alert-link" routerLink="/news">
                        <button class="btn btn-primary w-100 mb-3">Comment on news articles</button>
                      </a>
                    </div>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>