<div class="blog-back">
  <h1 class="page-heading">Blog</h1>

  <div class="container">
    <h2 class="text-center pb-4">
      Check out the latest news
    </h2>

    <div class="row">
      <div class="col-md-9 col-sm-7 col-6">
        <div class="container">
          <p>
            This is a test
          </p>
          <p>
                I graduate of BYU where I learned how to cut hair right. Soon after school, I served a brief period in the US Army while stationed in Vietnam. Upon returning home, I used the knowledge I gained in college and opened up for business in cutting hair for men in [Month] of [year]. I started my own business, Evan's Roman Way, in Orem Utah.
              </p>
          <p>
                I graduate of BYU where I learned how to cut hair right. Soon after school, I served a brief period in the US Army while stationed in Vietnam. Upon returning home, I used the knowledge I gained in college and opened up for business in cutting hair for men in [Month] of [year]. I started my own business, Evan's Roman Way, in Orem Utah.
              </p>
          <p>
                I graduate of BYU where I learned how to cut hair right. Soon after school, I served a brief period in the US Army while stationed in Vietnam. Upon returning home, I used the knowledge I gained in college and opened up for business in cutting hair for men in [Month] of [year]. I started my own business, Evan's Roman Way, in Orem Utah.
              </p>
          <p>
                I graduate of BYU where I learned how to cut hair right. Soon after school, I served a brief period in the US Army while stationed in Vietnam. Upon returning home, I used the knowledge I gained in college and opened up for business in cutting hair for men in [Month] of [year]. I started my own business, Evan's Roman Way, in Orem Utah.
              </p>
        </div>
      </div>

      <div class="col-md-3 col-sm-5 col-6">
        <div class="container">
          <p>
            This is a test
          </p>
        </div>
      </div>
    </div>

  </div>
</div>