<div id="testimonial-list"></div>
<div class="new-back">

  <div class="new-header">
    <div class="container">
      <h1>
        Testimonials:
      </h1>
      <h4>
        Read about what others are saying about Evan's hair cutting services
      </h4>
    </div>
  </div>

  <div class="new-main">
    <div class="container">
      <div class="row">
        <div class="col-md-9 col-sm-7 col-6">
          <div class="container pb-5">

            <span *ngIf="isLoggedIn()">
              <p>
                <a routerLink="/testimonials/new"><button class="btn btn-primary mb-5">Post your own testimonial</button></a>
              </p>
            </span>

            <div *ngIf="alertNumber === 1">
              {{alertNetworkError()}}
              <p [innerHTML]="alertMessage"></p>
            </div>

            <div *ngFor="let testimonial of testimonials | orderBy : order : true | paginate: { id: 'paginate', itemsPerPage: 5, currentPage: p }; let odd = odd; let even = even; let last = last" [class.left-quote]="odd" [class.right-quote]="even" [class.mb-5]="!last" [attr.id]="'testimonial_' + testimonial.id" class="testimonial mb-3">

              <div class="d-flex justify-content-center">
                <div class="quote-spacing">
                  <a pageScroll [pageScrollOffset]="-180" [pageScrollDuration]="200" [pageScrollEasing]="EasingLogic" [pageScrollInterruptible]="false" [routerLink]="'/testimonial/' + this.testimonial.id" href="#testimonial">
                    <div class="blockquote-select">
                      <blockquote>
                        <p>
                          <span class="text-output-format">{{ testimonial.content | truncate:[150] }}</span>
                        </p>

                        <div class="quote-signature">
                          <div *ngIf="testimonial.custom_user;
                                 else standard_user">
                            <em>&nbsp;&#9472; {{testimonial.custom_user}}</em>
                          </div>
                          <ng-template #standard_user>

                            <em>&nbsp;&#9472; {{testimonial.testimonial_user.user_name}}</em>
                          </ng-template>
                        </div>
                      </blockquote>
                    </div>
                  </a>

                  <div class="quote-button-spacing">
                    <span class="pr-1">
                      <a class="new-link" pageScroll [pageScrollOffset]="-180" [pageScrollDuration]="200" [pageScrollEasing]="EasingLogic" [pageScrollInterruptible]="false" [routerLink]="'/testimonial/' + this.testimonial.id" href="#testimonial">
                        <button class="btn btn-outline-primary mb-3">Read More</button>
                      </a>
                    </span>

                    <span *ngIf="isAdmin() || testimonial.testimonial_user.user_id === userData.id" class="pr-3">
                      <a (click)="deleteTestimonial(testimonial.id)" class="new-link">
                        <button class="btn btn-outline-danger mb-3">Delete</button>
                      </a>
                    </span>
                  </div>
                </div>


              </div>
            </div>

            <div *ngIf="alertNumber !== 1">
              <div *ngIf="paginationTotal>5" class="pagination-bottom"></div>

              <pagination-controls id="paginate"
                        (pageChange)="p = $event"
                        maxSize="9"
                        directionLinks="true"
                        autoHide="true"
                        previousLabel="Previous"
                        nextLabel="Next"
                        screenReaderPaginationLabel="Pagination"
                        screenReaderPageLabel="page"
                        screenReaderCurrentLabel="You're on page">
              </pagination-controls>
            </div>

          </div>
        </div>

        <div class="col-md-3 col-sm-5 col-6">
          <div class="container">
            <sidebar></sidebar>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>