<div id="testimonial"></div>
<div class="new-back">

  <div class="new-header">
    <div class="container">
      <h1>
        Testimonials:
      </h1>
      <h4>
        Read about what others are saying about Evan's hair cutting services
      </h4>
      <p class="mt-3">
        <a routerLink="/testimonials"><button class="btn btn-outline-secondary btn-sm">Back to testimonials</button></a>
      </p>
    </div>
  </div>

  <div class="new-main">
    <div class="container">
      <div class="row">

        <div class="col-md-9 col-sm-7 col-6 mb-5">
          <div *ngIf="testimonial">

            <!-- <div id="articlePreview"></div> -->
            <!-- <div class="container card card-box-shadows pt-4 pb-1 mb-5 text-center testimonial"> -->
            <div class="text-center testimonial">
              <div class="testimonial-show">

                <!-- <markdown data=">{{ testimonial.content }}"></markdown> -->
                <blockquote>
                  <p>
                    {{ testimonial.content }}
                  </p>


                  <!-- <div class="pre-line testimonial-name"> -->
                  <div>
                    <em>&nbsp;&#9472; </em>
                    <span *ngIf="testimonial.custom_user;
                           else standard_user">
                      <em>{{ testimonial.custom_user }}</em>
                    </span>
                    <ng-template #standard_user>
                      <em>{{ testimonial.testimonial_user.user_name }}</em>
                    </ng-template>
                  </div>
                </blockquote>
              </div>
            </div>

          </div>
        </div>

        <div class="col-md-3 col-sm-5 col-6">
          <div class="container">
            <sidebar></sidebar>
          </div>
        </div>

      </div>
    </div>
  </div>

</div>