<div id="testimonial-list"></div>
<div class="new-back">

  <div class="new-header">
    <div class="container">
      <h1>
        Testimonials:
      </h1>
      <h4>
        Read about what others are saying about Evan's hair cutting services
      </h4>
    </div>
  </div>

  <div class="new-main">
    <div class="container">
      <div class="row">
        <div class="col-md-9 col-sm-7 col-6">
          <div class="container pb-5">

            <span *ngIf="isLoggedIn()">
              <p>
                <a routerLink="/testimonials/new"><button class="btn btn-primary mb-3">Post your own testimonial</button></a>
              </p>
            </span>

            <div *ngFor="let testimonial of testimonials | orderBy : order : true | paginate: { id: 'paginate', itemsPerPage: 5, currentPage: p }; let odd = odd; let even = even" [class.left-quote]="odd" [class.right-quote]="even" [attr.id]="'testimonial_' + testimonial.id" class="testimonial">

              <div class="container">
                <div class="text-center" style="margin: 0 10%;">
                  <a pageScroll [pageScrollOffset]="-180" [pageScrollDuration]="200" [pageScrollEasing]="EasingLogic" [pageScrollInterruptible]="false" [routerLink]="'/testimonial/' + this.testimonial.id" href="#testimonial">
                    <div class="blockquote-select">
                      <blockquote>
                        <p>
                          <span class="text-output-format">{{ testimonial.content | truncate:[150] }}</span>
                        </p>

                        <div class="quote-signature">
                          <em>&nbsp;&#9472; </em>
                          <span *ngIf="testimonial.custom_user;
                                 else standard_user">
                            <em>{{testimonial.custom_user}}</em>
                          </span>
                          <ng-template #standard_user>
                            <em>{{testimonial.testimonial_user.user_name}}</em>
                          </ng-template>
                        </div>
                      </blockquote>
                    </div>
                  </a>
                </div>
              </div>

              <div class="container mb-5">
                <div class="container my-3 d-flex justify-content-end">

                  <span class="pr-3">
                    <a class="new-link" pageScroll [pageScrollOffset]="-180" [pageScrollDuration]="200" [pageScrollEasing]="EasingLogic" [pageScrollInterruptible]="false" [routerLink]="'/testimonial/' + this.testimonial.id" href="#testimonial">
                      <button class="btn btn-primary mb-3">Read More</button>
                    </a>
                  </span>

                  <span *ngIf="isAdmin() || testimonial.testimonial_user.user_id === userData.id" class="pr-3">
                    <a (click)="deleteTestimonial(testimonial.id)" class="new-link">
                      <button class="btn btn-danger mb-3">Delete</button>
                    </a>
                  </span>
                </div>
              </div>
            </div>

            <div *ngIf="paginationTotal>5" class="pagination-bottom"></div>

            <pagination-controls id="paginate"
                      (pageChange)="p = $event"
                      maxSize="9"
                      directionLinks="true"
                      autoHide="true"
                      previousLabel="Previous"
                      nextLabel="Next"
                      screenReaderPaginationLabel="Pagination"
                      screenReaderPageLabel="page"
                      screenReaderCurrentLabel="You're on page">
            </pagination-controls>

          </div>
        </div>

        <div class="col-md-3 col-sm-5 col-6">
          <div class="container">
            <sidebar></sidebar>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>