<div class="back-image-barber">
  <div class="back-gradient">
    <div class="back-darken">
      <h1 class="page-heading">Men's Haircut</h1>

      <div class="container">
        <div class="main-content jumbotron">
          <h2 class="text-center pb-4">Hair cutting for the man</h2>
          <p class="lead pb-3">It's my job to make people look handsome, not beautiful. Let's talk about the great haircut I can provide for you!</p>

          <div>
            <img title="Barber scissors and combs" alt="Collection of tools for use by a barber" src="../assets/images/standard-haircut.jpg" height="300px" class="float-left" />
            <p class="pt-3 pl-2">
              Enjoy a great haircut! I specialize in cutting all lengths of hair to the unique style and length you desire. Whether your hair is curley, wavey, straight, long, short, thick, or thin, I can cut your hair right and make you look great, way better than the just alright. I can cut your hair to the style you like and give you suggestions of styles that would work best for your hair type.
            </p>
            <img title="Barber scissors and combs" alt="Collection of tools for use by a barber" src="https://s3-us-west-1.amazonaws.com/evans-roman-way/toolsforbarber.jpg" height="200px" class="float-right" />
            <p class="pt-3 pl-2">
            <p class="clearfix">
              Each haircut comes with a straight edge razor neck shaving for those who have shorter styles. This shaving service is something only a barber can give where you'll get the closet shave you'll ever get! For longer-styles, I can give you a <a routerLink="/services/razorcut">straight edge razor cut</a> where you'll get the precision of a perfect haircut. For an additional cost, you can combine these services or throw in a <a routerLink="/services/trim">beard trimming</a> if you want.
            </p>
          </div>

          <div class="text-center">
            <h3 class="mt-5">Prices are as follows:</h3>
            <div class="text-left pt-2 pb-3">
              <img title="Barber scissors and combs" alt="Collection of tools for use by a barber" src="../assets/images/young-boy-haircut.jpg" height="200px" class="float-left mr-5" />
              <ul class="clearfix pt-4">
                <li>$14 for men's haircut</li>
                <li>$13 for children under 12</li>
                <li>$12 for retired men</li>
                <li>* Additional services can be added for an additional price</li>
              </ul>
              <img title="Barber hair shaving razors" alt="Barber hair shaving razors lined up on a counter" src="https://s3-us-west-1.amazonaws.com/evans-roman-way/hair-razors.jpg" height="200px" class="float-right" />
            </div>


          </div>

          <p class="pt-5 text-left">
            Got a haircut from me? Post your <a routerLink="/testimonials">testimonial</a> or read other <a routerLink="/testimonials">testimonials</a> about how great my hair cutting services have been.
          </p>
          <p class="pt-4">
            Make your next <a routerLink="/contact">appointment</a> by calling (801) 785-9090 today!
          </p>
          <p>
            Walk-ins are welcome, but appointments take presidence.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>